* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'Helvetica Neue', Helvetica, Arial;
}

.container {
     width: 100%;
     height: 100vh;
     background-color: black;
     color: white;
     display: flex;
}

.menu1 {
     width: 40%;
     height: 600px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}

.menu1 img {
     width: 250px;
}

form {
     width: 300px;
     display: flex;
     align-items: start;
     justify-content: center;
     flex-direction: column;
}

form label {
     padding: 5px 5px 5px 10px;
}

form input {
     width: 300px;
     height: 30px;
}

form button {
     width: 300px;
     height: 30px;
     background-color: rgb(9, 246, 242);
     border: none;
     color: white;
}

.pre {
     font-size: 16px;
     margin-left: 80px;
     color: rgb(9, 246, 242);
}

.pre1 {
     font-size: 16px;
     margin-left: 35px;
     padding: 5px;
     padding-bottom: 15px;
     border-bottom: 2px solid gray;
     color: rgb(9, 246, 242);
}

.btn2 {
     width: 300px;
     height: 30px;
     background-color: gray;
     border: none;
     color: white;
}

.pregraph {
     padding-top: 45px;
     font-size: 12px;
     text-align: center;
}

.menu5 {
     width: 850;
     height: 650px;
     display: flex;
     align-items: center;
     box-sizing: border-box;
}